@font-face {
    font-family: "roboto-light";
    src: url(../../public/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "roboto-regular";
    src: url(../../public/fonts/Roboto-Regular.ttf);
}
// ligne r9i9
@font-face {
    font-family: "roboto-thin";
    src: url(../../public/fonts/Roboto-Thin.ttf);
}
// comme un italique
@font-face {
    font-family: "courgette";
    src: url(../../public/fonts/Courgette-Regular.ttf);
}